@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  background: #f4f4f5;
  color: #18181b;
}

body {
  overflow: hidden;
}

#__next,
[data-nextjs-scroll-focus-boundary] {
  height: 100%;
}

button,
a {
  cursor: pointer;
}

input[type="color"] {
  appearance: none;
}
